<h1>Obrigado</h1>

<pre>
Obrigado pela sua participação <%= @service.applicant_name %>,

A empresa <%= @service.company_name %> agradece.

Os resultados serão enviados para a empresa e ela continuará o processo
de seleção da vaga "<%= @service.job_title %>"
</pre>
